.fo {
    height: 190px;
    background-color: #d8272f;

}

a {
    color: white;
}

#fot {
    height: 70px;
    background-color: #b3282d;
}

#logo {
    margin-top: 80px;
    margin-left: 50px;
    height: 50px;
    width: 200px;
}

#btnAyuda {
    width: 83%;
    font-size: medium;

}

#Moreinfo {
    text-align: left;
    padding-top: 10px;

}

.blockone {
    padding-left: 20px;
    padding-top: 20px;
}

.line {
    border-left: 1px solid white;
    height: 90px;
}

.contact-center {
    background: white;
    border-radius: 10px;
    height: 40px;
    width: 50%;
    text-align: center;
    color: red;
    display: block;
    margin: 0 auto;

}

/*<!-----------form contact------------>*/
.parallax  {
    background-image: url('/Assets/img/h3.jpg');
    height: 555px;

    border-radius: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.formInfo {
    height: 450px;
    background-color: white;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-right: 30px;
}

form {
    margin-left: 20px;
    margin-right: 20px;
}

form #endbutton {
    width: 100px;
}

#information {
    margin-right: 30px;
    width: 450px;
    color: white;
    padding-top: 150px;
    padding-left: 50px;
}

#MoreinfoConta {
    color: white;
    padding-left: 50px;
    padding-top: 40px;

}

#titulo-blanco {

    height: 3rem;
    background-position: center;
    margin-left: 400px;
    color: white;
}