#medios{
	height: 500px;
	background-color: black;
	color: white;
	padding-top: 50px;
	border-radius: 20px;
	width: 95%;
	margin-left: 45px;
	text-align: center;

}

#imgMedi{
	height: 90px;
	width: 90px;
}

.caja{
	margin-top: 20px;
}
h2{
	margin-top: 60px;
	font-size: 20px;
}